<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.alexkrug.mettalcalculator">

    <application

        android:allowBackup="true"
        android:name=".src.languageHelper.Home"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Green">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.Green"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CatalogActivity"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".CalculatorActivity"
            android:label="@string/title_activity_calculator"
            android:theme="@style/AppTheme.Green"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>